<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>

<body>
    <%- include('./partials/nav.ejs') %>
        <div class="about content">
            <h2>About Us</h2>
            <p>Welcome to our Blog Application! This platform is designed to provide a space for sharing thoughts, ideas, and stories. Whether you're a seasoned writer or just starting out, our application offers an easy-to-use interface for creating and managing your blog posts. Join our community of bloggers and start sharing your voice with the world today!</p>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>